{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "max-len": 0,
    "jsx-a11y/accessible-emoji": 0,
    "react/prop-types": 0,
    "prefer-template": 0,
    "import/prefer-default-export": 0,
    "react/no-unescaped-entities": 0,
    "react/self-closing-comp": 0,
    "no-undef": 0
  }
}